boto3==1.21.46
ask-sdk==1.17.1
ask-sdk-webservice-support==1.3.3
plexapi @ git+https://github.com/mdinicola/python-plexapi.git@fix_search_discover_beta
pytrakt @ git+https://github.com/glensc/python-pytrakt.git